<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="form_new_user">
    <div class="container-fluid-center">
        <div class="row">
            <div class="col-md-4 offset-md-2">
                <div class="modal-body text-center">
                    <form id="new_user_form">
                        <input id="id-new" name="idHidden" type="hidden" value="0">
                        <h6><label for="firstName-new">First Name</label></h6>
                        <input id="firstName-new" name="firstName" class="form-control" type="text">
                        <h6><label for="lastName-new">Last Name</label></h6>
                        <input  id="lastName-new" name="lastName" class="form-control" type="text">
                        <h6><label for="age-new">Age</label></h6>
                        <input id="age-new" name="age" class="form-control" type="number" min="1" max="127">
                        <h6><label for="email-new">Email</label></h6>
                        <input id="email-new" name="email" class="form-control" type="text" required>
                        <h6><label for="password-new">Password</label></h6>
                        <input id="password-new" name="password" class="form-control" type="password" required>
                        <h6><label>Role</label></h6>
                        <select multiple id="role_new" name="role1" datatype="" class="form-select" size="2" required>
                            <option value="2">USER</option>
                            <option value="1">ADMIN</option>
                        </select>
                        <br>
                        <button form="new_user_form" type="submit" class="btn btn-success" data-bs-target="#userTable">Add new user</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>