<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<body>
<div th:fragment="modal_delete">
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Delete user</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="container-fluid-center"><div class="row"><div class="col-md-8 offset-md-2">
                    <div class="modal-body text-center">
                        <form id="deleteForm">
                            <h6><label>ID</label></h6>
                            <input id="idDel" name="id" type="text" class="form-control" disabled>
                            <input id="idHiddenDel" name="id" type="hidden">
                            <h6><label>First Name</label></h6>
                            <input id="firstNameDel" name="firstName" class="form-control" type="text" disabled>
                            <h6><label>Last Name</label></h6>
                            <input id="lastNameDel" name="lastName" class="form-control" type="text" disabled>
                            <h6><label>Age</label></h6>
                            <input id="ageDel" name="age" class="form-control" type="number" min="1" max="127" disabled>
                            <h6><label>Email</label></h6>
                            <input id="emailDel" name="email" class="form-control" type="text" disabled>
                            <h6><label>Password</label></h6>
                            <input id="passwordDel" class="form-control" type="password" name="password" disabled>
                            <h6><label>Role</label></h6>
                            <select multiple id="role_del" name="roles_id"  class="form-select" size="2" disabled>
                                <option value="2">USER</option>
                                <option value="1">ADMIN</option>
                            </select>
                            <br>
                        </form>
                    </div>
                </div></div></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button form="deleteForm"  type="submit" class="btn btn-primary" data-bs-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>